body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.main { /* CENTRAR TODO EL CONTENIDO DEL MAIN */
    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: center;     /* centra vertical */
    min-height: 100vh;       /* ocupa toda la altura de la pantalla */
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-container {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin: 16px;
}

.result-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-img {
    width: 100px;
    height: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin: 16px;
}

.btn-img {
    width: 100px;
    height: auto;
}

.overlay {
    position: fixed;        /* Se fija en la ventana del navegador (no se puede hacer scroll) */
    z-index: 999;           /* Se asegura de estar por encima del resto de elementos */

    display: flex;
    justify-content: center; /*Lo centramos*/
    align-items: center;

    top: 0;                 /* Coloca la capa desde el */
    left: 0;                /* borde superior hasta el inferior */

    width: 100%;    
    height: 100%;

    background: 
    rgba(0, 0, 0, 0.6); /* Oscurece lo que hay detrás con transparencia */
}

/* .hidden {
    display: none;
} */

.popup {
    background-color: white;
    text-align: center;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra para destacar el popup */
}

